/* RESET CSS */
@import "reset";

/*FONTS
font-family: 'Carter One', cursive;
font-family: 'Sansita', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Teko', sans-serif;
Read our FAQs*/
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Sansita&family=Shadows+Into+Light&family=Teko:wght@300&display=swap');

/*COMMON*/
body {

    .wrap {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        perspective: 1300px;

        >video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0.5;
        }

        #circle {
            width: 600px;
            height: 800px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -300px;
            //widht의 반값
            margin-top: -400px;
            //height 의 반값
            animation: panorama linear 30s infinite;
            transform-style: preserve-3d;

            article {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                backface-visibility: hidden;
                // display: none;
                // &:nth-of-type(7) {
                //     display: block;
                // }

                // &:nth-of-type(6) {
                //     display: block;
                // }


                .inner {
                    width: 100%;
                    height: 100%;

                    > div {
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        opacity: 0.7;
                        transition: 0.5s;

                        &:hover {
                            opacity: 1;
                            transform: scale(1.03);
                        }
                    }
                }
                
                &.item1 {
                    transform: rotateY(0deg) translateZ(-764px);
                    &:hover h1 {
                        opacity: 1;
                        transform: translateY(-25px);
                    }

                    h1 {
                        color: #5464b3;
                        font-size: 30px;
                        font-family: 'Sansita';
                        transform: translateY(50px);
                        transition: 0.5s;
                        opacity: 0;
                    }

                    .inner {


                        div {
                            
                            background-color: rgba(#7a81a2,0.7);
                            border: 1px solid rgba(#7a81a2,0.7);

                            h2 {
                                font: bold 40px 'Carter One' ;
                                color: black;
                            }

                            img {
                                width: 100%;
                                margin: 20px 0 10px 0px;
                            }

                            h3 {
                                color: black;
                                margin-bottom: 15px;
                                font-family: 'Sansita';
                                font-size: 50px;

                            }

                            p {
                                font: 30px/1.3;
                                color: black;
                                font-family:  'Sansita';
                                margin-top: 35px;
                            }

                            &:hover {
                                h2, h3 {
                                    text-shadow: 0px 0px 10px white;
                                }
                            }
                        }
                    }
                }

                &.item2 {
                    transform: rotateY(45deg) translateZ(-764px);
                    &:hover h1 {
                        opacity: 1;
                        transform: translateY(-25px);
                    }

                    h1 {
                        color: #5464b3;
                        font-size: 30px;
                        font-family: 'Sansita';
                        transform: translateY(50px);
                        transition: 0.5s;
                        opacity: 0;
                    }
                    .inner {
                        div {
                            background-color: rgba(#718ec4,0.7);
                            border: 1px solid rgba(#718ec4,0.7);

                            width: 290px;
                            height: 388px;
                            float: left;
                            margin-bottom: 20px;
                            text-align: center;

                            &:nth-of-type(odd) {
                                margin-right: 20px;
                            }

                            h2 {
                                margin-top: 0;
                                transition: 0.5s;
                                font-family: 'Shadows Into Light';
                                font-size: 30px;
                                color: black;
                            }

                            &:hover {
                                h2 {
                                    text-shadow: 0px 0px 10px white;
                                    transform: scale(1.1);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                &.item3 {
                    transform: rotateY(90deg) translateZ(-764px);
                    &:hover h1 {
                        opacity: 1;
                        transform: translateY(-25px);
                    }

                    h1 {
                        font-size: 30px;
                        font-family: 'Sansita';
                        transform: translateY(50px);
                        transition: 0.5s;
                        opacity: 0;

                        a {
                            color: #5464b3;
                        }
                    }
                    .inner {
                        div {
                            background-color: rgba(#dc8998,0.7);
                            border: 1px solid rgba(#dc8998,0.7);

                            h2 {
                                font-size: 35px;
                                color: black;
                                font-family: 'Shadows Into Light';
                            }

                            img {
                                width: 100%;
                            }

                            h3 {
                                color: black;
                                font-size: 50px;
                                font-family: 'Carter One';
                                text-align: center;
                                margin-bottom: 10px;
                            }

                            p {
                                text-align: center;
                                color:black;
                                font-size: 15px;
                                font-family: 'Sansita';
                            }

                            &:hover {
                                h2, h3 {
                                    text-shadow: 0px 0px 10px white;
                                }
                            }

                            &:hover img {
                                animation: youngblood 10s linear infinite;
                            }
                        }
                    }
                }

                &.item4 {
                    transform: rotateY(135deg) translateZ(-764px);

                    &:hover h1 {
                        opacity: 1;
                        transform: translateY(-25px);
                    }

                    h1 {
                        color: #5464b3;
                        font-size: 30px;
                        font-family: 'Sansita';
                        transform: translateY(50px);
                        transition: 0.5s;
                        opacity: 0;

                        a {
                            color: #5464b3;
                        }
                    }

                    .inner {
                        div {
                            background-color: rgba(#df94a2,0.7);
                            border: 1px solid rgba(#df94a2,0.7);
                            
                            h2 {
                                font-size: 35px;
                                color: black;
                                font-family: 'Shadows Into Light';
                            }

                            img {
                                width: 100%;
                            }

                            h3 {
                                color: black;
                                font-size: 50px;
                                font-family: 'Carter One';
                                text-align: center;
                                margin-bottom: 10px;
                            }

                            p {
                                text-align: center;
                                color:black;
                                font-size: 15px;
                                font-family: 'Sansita';
                            }
                            

                            &:hover {
                                h2, h3 {
                                    text-shadow: 0px 0px 10px white;
                                }
                            }

                            &:hover img {
                                animation: youngblood 10s linear infinite;
                            }
                        }
                    }
                }

                &.item5 {
                    transform: rotateY(180deg) translateZ(-764px);

                    &:hover h1 {
                        opacity: 1;
                        transform: translateY(-25px);
                    }

                    h1 {
                        color: #5464b3;
                        font-size: 30px;
                        font-family: 'Sansita';
                        transform: translateY(50px);
                        transition: 0.5s;
                        opacity: 0;

                        a {
                            color: #5464b3;
                        }
                    }

                    .inner {
                        div {
                            background-color: rgba(#fec5b9,0.7);
                            border: 1px solid rgba(#fec5b9,0.7);
                            
                            h2 {
                                font-size: 35px;
                                color: black;
                                font-family: 'Shadows Into Light';
                            }

                            img {
                                width: 100%;
                            }

                            h3 {
                                color: black;
                                font-size: 50px;
                                font-family: 'Carter One';
                                text-align: center;
                                margin-bottom: 10px;
                            }

                            p {
                                text-align: center;
                                color:black;
                                font-size: 15px;
                                font-family: 'Sansita';
                            }

                            &:hover {
                                h2, h3 {
                                    text-shadow: 0px 0px 10px white;
                                }
                            }

                            &:hover img {
                                animation: youngblood 10s linear infinite;
                            }
                        }
                    }
                }

                &.item6 {
                    transform: rotateY(225deg) translateZ(-764px);

                    &:hover h1 {
                        opacity: 1;
                        transform: translateY(-25px);
                    }

                    h1 {
                        color: #5464b3;
                        font-size: 30px;
                        font-family: 'Sansita';
                        transform: translateY(50px);
                        transition: 0.5s;
                        opacity: 0;

                        a {
                            color: #5464b3;
                        }
                    }

                    .inner {
                        div {
                            background-color: rgba(#fecdc3,0.7);
                            border: 1px solid rgba(#fecdc3,0.7);
                            
                            h2 {
                                font-size: 35px;
                                color: black;
                                font-family: 'Shadows Into Light';
                            }

                            img {
                                width: 100%;
                            }

                            h3 {
                                color: black;
                                font-size: 50px;
                                font-family: 'Carter One';
                                text-align: center;
                                margin-bottom: 10px;
                            }

                            p {
                                text-align: center;
                                color:black;
                                font-size: 15px;
                                font-family: 'Sansita';
                            }

                            &:hover {
                                h2, h3 {
                                    text-shadow: 0px 0px 10px white;
                                }
                            }

                            &:hover img {
                                animation: youngblood 10s linear infinite;
                            }
                        }
                    }
                }

                &.item7 {
                    transform: rotateY(270deg) translateZ(-764px);

                    &:hover h1 {
                        opacity: 1;
                        transform: translateY(-25px);
                    }

                    h1 {
                        color: #5464b3;
                        font-size: 30px;
                        font-family: 'Sansita';
                        transform: translateY(50px);
                        transition: 0.5s;
                        opacity: 0;
                    }

                    .inner {

                        .store1 {
                            height: 256px;
                            background-color: rgba(#f1dcd9,0.7);
                            border: 1px solid rgba(#f1dcd9,0.7);
                            display: flex;
                            position: relative;

                            img {
                                transition: 0.5s;
                                padding-right: 60px;
                            }

                            h2 {
                                color: black;
                                font-size: 30px;
                                font-family: 'Sansita';
                                position: absolute;
                                margin: 20px 0 0 240px;
                                    
                            }

                        &:hover img {
                            transform: scale(1.1);
                        }
                        }

                        .store2 {
                            height: 256px;
                            margin-top: 16px;
                            background-color: rgba(#f1dcd9,0.7);
                            border: 1px solid rgba(#f1dcd9,0.7);
                            display: flex;
                            position: relative;

                            img {
                                transition: 0.5s;
                                // float:right;
                                padding-right: 60px;
                            }

                            h2 {
                                color: black;
                                font-size: 30px;
                                font-family: 'Sansita';
                                position: absolute;
                                margin: 15px 0 0 250px;
                                    
                            }
                            
                        &:hover img {
                            transform: scale(1.1);
                        }
                        }

                        .store3 {
                            height: 256px;
                            margin-top: 16px;
                            background-color: rgba(#f1dcd9,0.7);
                            border: 1px solid rgba(#f1dcd9,0.7);
                            display: flex;
                            position: relative;

                            img {
                                transition: 0.5s;
                                padding-right: 60px;
                            }

                            h2 {
                                color: black;
                                font-size: 30px;
                                font-family: 'Sansita';
                                position: absolute;
                                margin: 15px 0 0 230px;
                                    
                            }

                        &:hover img {
                            transform: scale(1.11);
                            text-shadow: 0px 0px 10px white;
                        }
                        }
                        
                    }
                }

                &.item8 {
                    transform: rotateY(315deg) translateZ(-764px);

                    &:hover h1 {
                        opacity: 1;
                        transform: translateY(-25px);
                    }

                    h1 {
                        color: #5464b3;
                        font-size: 30px;
                        font-family: 'Sansita';
                        transform: translateY(50px);
                        transition: 0.5s;
                        opacity: 0;
                    }

                    .inner {
                        div {
                            background-color: rgba(#898ad6,0.7);
                            border: 1px solid rgba(#898ad6,0.7);

                            width: 290px;
                            height: 254px;
                            float: left;
                            margin-bottom: 20px;
                            text-align: center;

                            &:nth-of-type(odd) {
                                margin-right: 20px;
                            }

                            i {
                                color: black;
                                font-size: 100px;
                                opacity: 0.7;
                                transition: 0.5s;
                                margin-top: 20px;
                            }

                            h2 {
                                margin-top: 30px;
                                transition: 0.5s;
                                color: black;
                            }

                            &:hover {
                                i {
                                    text-shadow: 0px 0px 10px white;
                                    transform: scale(1.1);
                                    opacity: 1;
                                }

                                h2 {
                                    text-shadow: 0px 0px 10px white;
                                    transform: scale(1.1);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes youngblood {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes panorama {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}